html[theme-mode='dark'] {
  --kd-color-orange-1: 66, 49, 45;
  --kd-color-orange-2: 95, 57, 46;
  --kd-color-orange-3: 124, 67, 45;
  --kd-color-orange-4: 153, 77, 42;
  --kd-color-orange-5: 181, 85, 36;
  --kd-color-orange-6: 208, 96, 29;
  --kd-color-orange-7: 245, 109, 28;
  --kd-color-orange-8: 254, 147, 76;
  --kd-color-orange-9: 255, 188, 148;
  --kd-color-orange-10: 255, 230, 215;
  --kd-color-yellow-1: 60, 52, 35;
  --kd-color-yellow-2: 87, 71, 41;
  --kd-color-yellow-3: 117, 93, 45;
  --kd-color-yellow-4: 149, 115, 49;
  --kd-color-yellow-5: 183, 138, 51;
  --kd-color-yellow-6: 218, 163, 57;
  --kd-color-yellow-7: 247, 187, 67;
  --kd-color-yellow-8: 254, 208, 109;
  --kd-color-yellow-9: 254, 224, 157;
  --kd-color-yellow-10: 255, 233, 184;
  --kd-color-verdure-1: 51, 55, 35;
  --kd-color-verdure-2: 63, 70, 36;
  --kd-color-verdure-3: 75, 85, 34;
  --kd-color-verdure-4: 89, 103, 31;
  --kd-color-verdure-5: 105, 126, 25;
  --kd-color-verdure-6: 127, 152, 27;
  --kd-color-verdure-7: 151, 176, 47;
  --kd-color-verdure-8: 176, 199, 86;
  --kd-color-verdure-9: 203, 221, 128;
  --kd-color-verdure-10: 228, 241, 175;
  --kd-color-green-1: 45, 57, 40;
  --kd-color-green-2: 48, 67, 39;
  --kd-color-green-3: 52, 82, 39;
  --kd-color-green-4: 57, 101, 38;
  --kd-color-green-5: 62, 121, 36;
  --kd-color-green-6: 69, 144, 37;
  --kd-color-green-7: 92, 171, 57;
  --kd-color-green-8: 123, 197, 91;
  --kd-color-green-9: 160, 220, 131;
  --kd-color-green-10: 214, 243, 200;
  --kd-color-teal-1: 40, 56, 50;
  --kd-color-teal-2: 39, 70, 59;
  --kd-color-teal-3: 38, 85, 69;
  --kd-color-teal-4: 32, 105, 79;
  --kd-color-teal-5: 20, 123, 87;
  --kd-color-teal-6: 0, 148, 96;
  --kd-color-teal-7: 12, 175, 118;
  --kd-color-teal-8: 59, 201, 154;
  --kd-color-teal-9: 117, 227, 189;
  --kd-color-teal-10: 198, 244, 230;
  --kd-color-azure-1: 36, 56, 58;
  --kd-color-azure-2: 37, 70, 74;
  --kd-color-azure-3: 36, 86, 93;
  --kd-color-azure-4: 31, 103, 112;
  --kd-color-azure-5: 18, 121, 134;
  --kd-color-azure-6: 0, 141, 159;
  --kd-color-azure-7: 16, 166, 185;
  --kd-color-azure-8: 58, 196, 213;
  --kd-color-azure-9: 117, 221, 234;
  --kd-color-azure-10: 213, 240, 244;
  --kd-color-blue-1: 40, 53, 74;
  --kd-color-blue-2: 39, 61, 97;
  --kd-color-blue-3: 37, 71, 126;
  --kd-color-blue-4: 34, 85, 169;
  --kd-color-blue-5: 24, 99, 218;
  --kd-color-blue-6: 30, 116, 255;
  --kd-color-blue-7: 66, 137, 255;
  --kd-color-blue-8: 104, 161, 255;
  --kd-color-blue-9: 148, 189, 255;
  --kd-color-blue-10: 223, 235, 255;
  --kd-color-navy-1: 53, 49, 82;
  --kd-color-navy-2: 59, 50, 121;
  --kd-color-navy-3: 66, 52, 171;
  --kd-color-navy-4: 76, 57, 211;
  --kd-color-navy-5: 91, 70, 232;
  --kd-color-navy-6: 109, 92, 244;
  --kd-color-navy-7: 135, 120, 250;
  --kd-color-navy-8: 168, 156, 253;
  --kd-color-navy-9: 199, 190, 255;
  --kd-color-navy-10: 235, 232, 255;
  --kd-color-indigo-1: 60, 47, 76;
  --kd-color-indigo-2: 74, 48, 106;
  --kd-color-indigo-3: 87, 50, 136;
  --kd-color-indigo-4: 104, 53, 171;
  --kd-color-indigo-5: 122, 53, 213;
  --kd-color-indigo-6: 144, 75, 233;
  --kd-color-indigo-7: 168, 110, 242;
  --kd-color-indigo-8: 193, 150, 249;
  --kd-color-indigo-9: 217, 189, 253;
  --kd-color-indigo-10: 241, 231, 254;
  --kd-color-violet-1: 66, 46, 70;
  --kd-color-violet-2: 87, 51, 95;
  --kd-color-violet-3: 111, 55, 123;
  --kd-color-violet-4: 135, 60, 151;
  --kd-color-violet-5: 162, 67, 183;
  --kd-color-violet-6: 192, 74, 219;
  --kd-color-violet-7: 209, 109, 233;
  --kd-color-violet-8: 224, 150, 241;
  --kd-color-violet-9: 234, 187, 245;
  --kd-color-violet-10: 246, 229, 250;
  --kd-color-purple-1: 69, 47, 60;
  --kd-color-purple-2: 100, 50, 79;
  --kd-color-purple-3: 126, 53, 96;
  --kd-color-purple-4: 152, 58, 113;
  --kd-color-purple-5: 182, 66, 133;
  --kd-color-purple-6: 215, 76, 158;
  --kd-color-purple-7: 235, 110, 182;
  --kd-color-purple-8: 243, 150, 204;
  --kd-color-purple-9: 249, 186, 223;
  --kd-color-purple-10: 254, 227, 243;
  --kd-color-red-1: 74, 45, 45;
  --kd-color-red-2: 101, 45, 45;
  --kd-color-red-3: 129, 47, 47;
  --kd-color-red-4: 155, 50, 50;
  --kd-color-red-5: 184, 54, 54;
  --kd-color-red-6: 214, 61, 61;
  --kd-color-red-7: 237, 75, 75;
  --kd-color-red-8: 244, 120, 120;
  --kd-color-red-9: 250, 169, 169;
  --kd-color-red-10: 254, 229, 229;
  --kd-color-gray-1: 51, 51, 51;
  --kd-color-gray-2: 56, 56, 56;
  --kd-color-gray-3: 64, 64, 64;
  --kd-color-gray-4: 71, 71, 71;
  --kd-color-gray-5: 92, 92, 92;
  --kd-color-gray-6: 102, 102, 102;
  --kd-color-gray-7: 138, 138, 138;
  --kd-color-gray-8: 153, 153, 153;
  --kd-color-gray-9: 199, 199, 199;
  --kd-color-gray-10: 245, 245, 245;
  --kd-color-white: 255, 255, 255;
  --kd-color-black: 0, 0, 0;
  --kd-color-brand-1: 40, 53, 74;
  --kd-color-brand-2: 39, 61, 97;
  --kd-color-brand-3: 37, 71, 126;
  --kd-color-brand-4: 34, 85, 169;
  --kd-color-brand-5: 24, 99, 218;
  --kd-color-brand-6: 30, 116, 255;
  --kd-color-brand-7: 66, 137, 255;
  --kd-color-brand-8: 104, 161, 255;
  --kd-color-brand-9: 148, 189, 255;
  --kd-color-brand-10: 223, 235, 255;
  --kd-color-public-normal: rgba(var(--kd-color-blue-6), 1);
  --kd-color-public-hover: rgba(var(--kd-color-blue-5), 1);
  --kd-color-public-pressed: rgba(var(--kd-color-blue-7), 1);
  --kd-color-public-light: rgba(var(--kd-color-blue-1), 1);
  --kd-color-brand-normal: rgba(var(--kd-color-brand-6), 1);
  --kd-color-brand-hover: rgba(var(--kd-color-brand-5), 1);
  --kd-color-brand-pressed: rgba(var(--kd-color-brand-7), 1);
  --kd-color-brand-light: rgba(var(--kd-color-brand-1), 1);
  --kd-color-ai-normal: rgba(136, 87, 242, 100%);
  --kd-color-ai-hover: rgba(113, 61, 225, 100%);
  --kd-color-ai-pressed: rgba(158, 117, 245, 100%);
  --kd-color-ai-light: rgba(58, 48, 85, 100%);
  --kd-color-ai-light-gradient: linear-gradient(90deg, #3f3c5f 0%, #6e46a3 100%);
  --kd-color-text-primary: rgba(var(--kd-color-gray-10), 1);
  --kd-color-text-secondary: rgba(var(--kd-color-gray-7), 01);
  --kd-color-text-tertiary: rgba(var(--kd-color-gray-6), 1);
  --kd-color-text-public: rgba(var(--kd-color-blue-7), 1);
  --kd-color-text-white: rgba(var(--kd-color-white), 1);
  --kd-color-text-brand: rgba(var(--kd-color-brand-7), 1);
  --kd-color-text-ai: rgba(158, 117, 245, 100%);
  --kd-color-text-success: rgba(var(--kd-color-green-7), 1);
  --kd-color-text-info: rgba(var(--kd-color-blue-7), 1);
  --kd-color-text-error: rgba(var(--kd-color-red-7), 1);
  --kd-color-text-warning: rgba(var(--kd-color-orange-7), 1);
  --kd-color-text-highlight: rgba(var(--kd-color-yellow-7), 1);
  --kd-color-icon-primary: rgba(var(--kd-color-gray-9), 1);
  --kd-color-icon-secondary: rgba(var(--kd-color-gray-7), 1);
  --kd-color-icon-tertiary: rgba(var(--kd-color-gray-5), 1);
  --kd-color-icon-quaternary: rgba(var(--kd-color-gray-3), 1);
  --kd-color-icon-public: rgba(var(--kd-color-blue-7), 1);
  --kd-color-icon-white: rgba(var(--kd-color-white), 1);
  --kd-color-icon-brand: rgba(var(--kd-color-brand-7), 1);
  --kd-color-icon-ai: rgba(158, 117, 245, 100%);
  --kd-color-icon-success: rgba(var(--kd-color-green-6), 1);
  --kd-color-icon-info: rgba(var(--kd-color-blue-6), 1);
  --kd-color-icon-error: rgba(var(--kd-color-red-6), 1);
  --kd-color-icon-warning: rgba(var(--kd-color-orange-6), 1);
  --kd-color-icon-highlight: rgba(var(--kd-color-yellow-6), 1);
  --kd-color-icon-blue-primary: rgba(85, 143, 236, 100%);
  --kd-color-icon-blue-quaternary: rgba(36, 71, 127, 100%);
  --kd-color-icon-green-primary: rgba(48, 171, 128, 100%);
  --kd-color-icon-green-quaternary: rgba(28, 84, 64, 100%);
  --kd-color-icon-orange-primary: rgba(224, 128, 66, 100%);
  --kd-color-icon-orange-quaternary: rgba(119, 67, 34, 100%);
  --kd-color-icon-red-primary: rgba(231, 85, 96, 100%);
  --kd-color-icon-red-quaternary: rgba(122, 41, 47, 100%);
  --kd-color-state-normal: rgba(var(--kd-color-gray-10), 0);
  --kd-color-state-hover: rgba(var(--kd-color-gray-10), 0.06);
  --kd-color-state-pressed: rgba(var(--kd-color-gray-10), 0.1);
  --kd-color-state-pressed-public: rgba(var(--kd-color-blue-6), 0.16);
  --kd-color-state-pressed-brand: rgba(var(--kd-color-brand-6), 0.16);
  --kd-color-state-pressed-ai: rgba(136, 87, 242, 16%);
  --kd-color-background-top: rgba(46, 46, 46, 100%);
  --kd-color-background-middle: rgba(41, 41, 41, 100%);
  --kd-color-background-bottom: rgba(36, 36, 36, 100%);
  --kd-color-background-group: rgba(31, 31, 31, 100%);
  --kd-color-background-plate: rgba(25, 25, 25, 100%);
  --kd-color-background-base: rgba(18, 18, 18, 100%);
  --kd-color-background-frame: rgba(0, 0, 0, 100%);
  --kd-color-background-ai: rgba(31, 33, 36, 100%);
  --kd-color-line-heavy: rgba(var(--kd-color-gray-10), 0.48);
  --kd-color-line-medium: rgba(var(--kd-color-gray-10), 0.24);
  --kd-color-line-regular: rgba(var(--kd-color-gray-10), 0.14);
  --kd-color-line-light: rgba(var(--kd-color-gray-10), 0.08);
  --kd-color-line-public: rgba(var(--kd-color-blue-7), 1);
  --kd-color-line-white: rgba(var(--kd-color-white), 1);
  --kd-color-line-brand: rgba(var(--kd-color-brand-7), 1);
  --kd-color-line-ai: rgba(158, 117, 245, 100%);
  --kd-color-line-success: rgba(var(--kd-color-green-6), 1);
  --kd-color-line-info: rgba(var(--kd-color-blue-6), 1);
  --kd-color-line-error: rgba(var(--kd-color-red-6), 1);
  --kd-color-line-warning: rgba(var(--kd-color-orange-6), 1);
  --kd-color-line-highlight: rgba(var(--kd-color-yellow-6), 1);
  --kd-color-fill-extra-heavy: rgba(var(--kd-color-gray-5), 1);
  --kd-color-fill-heavy: rgba(var(--kd-color-gray-4), 1);
  --kd-color-fill-medium: rgba(var(--kd-color-gray-3), 1);
  --kd-color-fill-regular: rgba(var(--kd-color-gray-2), 1);
  --kd-color-fill-light: rgba(var(--kd-color-gray-1), 1);
  --kd-color-fill-base: rgba(var(--kd-color-white), 0.08);
  --kd-color-fill-alpha-extra-heavy: rgba(var(--kd-color-gray-10), 0.4);
  --kd-color-fill-alpha-heavy: rgba(var(--kd-color-gray-10), 0.18);
  --kd-color-fill-alpha-medium: rgba(var(--kd-color-gray-10), 0.14);
  --kd-color-fill-alpha-regular: rgba(var(--kd-color-gray-10), 0.1);
  --kd-color-fill-alpha-light: rgba(var(--kd-color-gray-10), 0.06);
  --kd-color-mask-regular: rgba(var(--kd-color-gray-1), 0.6);
  --kd-color-mask-heavy: rgba(var(--kd-color-gray-1), 0.8);
  --kd-color-feedback-regular: rgba(var(--kd-color-gray-8), 1);
  --kd-color-inverse-base: rgba(var(--kd-color-black), 1);
  --kd-color-info-normal: rgba(var(--kd-color-blue-6), 1);
  --kd-color-info-hover: rgba(var(--kd-color-blue-5), 1);
  --kd-color-info-pressed: rgba(var(--kd-color-blue-7), 1);
  --kd-color-info-light: rgba(var(--kd-color-blue-1), 1);
  --kd-color-success-normal: rgba(var(--kd-color-green-6), 1);
  --kd-color-success-hover: rgba(var(--kd-color-green-5), 1);
  --kd-color-success-pressed: rgba(var(--kd-color-green-7), 1);
  --kd-color-success-light: rgba(var(--kd-color-green-1), 1);
  --kd-color-error-normal: rgba(var(--kd-color-red-6), 1);
  --kd-color-error-hover: rgba(var(--kd-color-red-5), 1);
  --kd-color-error-pressed: rgba(var(--kd-color-red-7), 1);
  --kd-color-error-light: rgba(var(--kd-color-red-1), 1);
  --kd-color-highlight-normal: rgba(var(--kd-color-yellow-6), 1);
  --kd-color-highlight-hover: rgba(var(--kd-color-yellow-5), 1);
  --kd-color-highlight-pressed: rgba(var(--kd-color-yellow-7), 1);
  --kd-color-highlight-light: rgba(var(--kd-color-yellow-1), 1);
  --kd-color-warning-normal: rgba(var(--kd-color-orange-6), 1);
  --kd-color-warning-hover: rgba(var(--kd-color-orange-5), 1);
  --kd-color-warning-pressed: rgba(var(--kd-color-orange-7), 1);
  --kd-color-warning-light: rgba(var(--kd-color-orange-1), 1);
  --kd-box-shadow-extra-small: 0px 0px 0px 1px rgba(var(--kd-color-white), 0.14);
  --kd-box-shadow-small: 0px 1px 4px rgba(var(--kd-color-black), 0.24);
  --kd-box-shadow-middle: 0px 1px 4px rgba(var(--kd-color-black), 0.32);
  --kd-box-shadow-large: 0px 12px 32px rgba(var(--kd-color-black), 0.32);
  --kd-box-shadow-extra-large: 0px 32px 48px rgba(var(--kd-color-black), 0.48);
  --kd-box-shadow-glow: 0px 0px 4px rgba(var(--kd-color-blue-6), 1);
}
