# 通用忽略规则
**/.git
**/.DS_Store
**/*.log
**/.env*.local
**/.vscode
**/.idea
**/Thumbs.db

# 依赖目录
**/node_modules/

# 构建输出目录
**/dist/
**/build/
**/coverage/
**/out/
**/.next/
**/.nuxt/

# 文档
**/README.md
**/CHANGELOG.md
**/LICENSE
